.ui.segment {
  background-color: rgb(111, 111, 111);
}

.ui.top.attached {
  background-color: black;
}

.ui.top.attached > a {
  background-color: white;
}
.ui.top.attached > a:hover {
  background-color: white;
}

#topMenuBar {
  display: flex;
  /* align-content: center; */
}

#newHeader {
  align-self: center;
  margin: 0 0 0 10px;
  color: white;
  /* background-color: black; */
}

/* .mainBody {
    background-color: rgb(111, 111, 111);
} */

body {
  background-color: rgb(111, 111, 111);
}

.footer {
  background-color: black;
  color : white;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px 0; 
  text-align: center;
  font-family: 'Ms Madi', cursive;
  font-style: italic;
  font-size: 3rem;
}

.fluid.image {
  margin-top: 12%;
}

