body {
    background-color: rgb(128, 128, 128);
}

iframe {
    width: 100%;
    height: 600px;
}

footer {
    text-align: center;
}

.customHeader {
    background-color: black;
    color:white;
}

#searchBar {
    color: #9A2A2A;
}