#link { margin-top: 300px;
margin-left: 79px;
padding-left: 49px;
}
body{
    background-image: url(https://www.nasa.gov/sites/default/files/thumbnails/image/hs-2015-29-a-xlarge_web.jpg);
    opacity: 75%;
}
