/* Stylized background */
body{
    background-image: url(https://www.nasa.gov/sites/default/files/thumbnails/image/hs-2015-29-a-xlarge_web.jpg);
    opacity: 90%;
}

/* Positions the set of all cards */
#cardContainer {
    position: relative;
    top: 50px;
}

/* Forces good spacing to footer of page */
#cardRow {
    padding-bottom: 75px;
}

/* Collection of ID's needed to override semantic UI styling */
#gordonCard, #santiagoCard, #lamarCard, #prateekCard {
    margin: 10px;
}